<!DOCTYPE html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'firstc.css' %}" />
  <title>APTITUDE TEST</title>
</head>
<body>
  <h1>IQ MASTERS</h1>
  <br />
  <div style="text-align: right; margin-top: 5px">
    {% if user.is_authenticated %}
    <p>
      {{user.first_name}}
      <button class="log"><a href="logout">logout</a></button>
      <input type="hidden" name="uname" value="{{user.username}}" />
    </p>
    <h11>LETS TEST OUR INTELIGENCE CAPACITY</h11>
    <form action="cal">
      <input type="submit" value="START" />
    </form>
    {% else %}
    <button class="button1"><a href="sign">LOGIN</a></button>
    <button class="button2"><a href="login">SIGN-UP</a></button>
    {% endif %}
  </div>

  {% block content %} {% endblock %}
</body>
